nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /* background-color: #333; */
}

.light,
nav.light a {
  color: black;
  background-color: white;
}

.dark,
nav.dark a {
  color: white;
  background-color: black;
}


div.trainer {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 0.5rem 0;
  cursor: pointer;
}


div.dark.trainer {
  border-color: red;
}

form {
  display: grid;
  grid-template-columns: 1fr 2fr;
}